{% extends 'layouts/mainlayout.html' %}
{% from 'forms.html' import render_field, login_error %}
{% block title %} Reset Password {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Reset Password</h5>
              <form action="{{ url_for('reset_password', utype=utype, token=token) }}" method="POST">
                  {{ pass_form.csrf_token() }}
                  {{ render_field(pass_form.new_password) }}
                  {{ render_field(pass_form.confirm) }}
                  <div class="custom-control custom-checkbox mb-1"></div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="submit">Change Password</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}